@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573045683990'); /* IE9 */
  src: url('iconfont.eot?t=1573045683990#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABmAAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApogQIBNgIkAwgLBgAEIAWEbQcxG6kFEdWTBWRfFu8QF2aLBN3QStfYqvvAF7k4HJfzHlgUUfZ8Pgiez/3yz02y2/S9AqKrBAJNqCoUg+pUk8TxpEGVP0gioXbLTajoMjTDhE29ruKTSx48XD5UkvI+H2Vwu0ESMGVcDx3s1Q+ADqQORe8T907/BPogq3eX57oHjTVpUhdQFwdSgHthFCdSQhk3jF3gEu5DAIckBaS6trkbi8FaJoBMjY/2Y3NhDIblLIK3Zq9Bdqhi1aq6w2A7/L78xMuCwqOxGtpHaoYo/8Iu0DO+mbNPEDEQ0GEPoIECYEC6a9OtaIRxGidtSMO+agW+8Pl8F7JXO8L+Oqs6AIAEmBH4wlXdak4B3NZYUkDhqI0gKXus+57GXRe1H8hrV7lHV/Kmk5d9fu79YgfjTk1rc227klKNaosxJDjE7eRB9HW65ui01B80LQ73Ovv/u8uUo5/pc92AAAIr97gFF9+2DQBv/3IZ2gz9vGB36hH4OcqePUZXW05lVGXtoCLlpE0ODuDD/jCfx1oi7yQvWCJHeP1ITKGxZJCGLYAHlyJ4sZTBIV/dYZdw02jE+AN5FgGEEKdQBHEFTYh70rCf4CHKb3gJScOhV8LPdMmKC1sYH4JveP4hfFGmHLe0otol+kXy4Kw65LfIOoyBaznF3Bgz5Dk26I/viShQTCmMwGOYJAQ5U4QvsQKRvGfbqu5F1otSo2VgfAi+4fmH8EWZ8odLq/T5JfpF8uCWrpriFlmHk4NrOT3IsSHr1XUvz+iP74koUEwpjMAsTBKCvH5WhC+xghHJvGfb/VRfg7W+Kf26IxhGy7CsJdOeWjbSARV/9AwDAA==') format('woff2'),
  url('iconfont.woff?t=1573045683990') format('woff'),
  url('iconfont.ttf?t=1573045683990') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573045683990#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye2:before {
  content: "\e681";
}

